.netflix-icon{
    width: 120px;
    height: 80px;
    position: relative;
    bottom: 20px;
    left: 40px;
}

.background-image{
    background-image: url(netflix\ main\ page.jpg);
    height: 100vh;
}

body{
    height: 100%;
    background-color: black;
    color: white;
    margin: 0px;
    font-family: sans-serif;
    font-weight: normal;
    overflow-x: hidden;
}

.top-container p{
    font-weight: 400; 
    font-size: 19px; 
    padding-bottom: 10px;
    margin-left: 60px;
    padding-left: 10px;
    font-weight: bold;
}

.hr{
    border-top: 10px solid #222;
}

.sign-in{
    width: 6rem;
    height: 3rem;
    background-color: red;
    font-size: large;
    border-style: none;
    position: relative;
    border-radius: 10px;
    margin-right: -5px;
}

button a{
     text-decoration: none;
     color: white;
}

.top-container{
    text-align: center;
    color: white;
    padding-top: 40px;
}

h1{
    font-size: 48px;    
}

#lang{
    margin-left: 59rem;
    height: 35px;
    width: 80px;
    position: relative;
    top: 10px;
    right: 70px;
}

.top-h2{
    font-size: 25px;
    font-weight: normal;
}

input.email{
    margin-left: 100px;
    font-size: 1rem;
    padding: 5px;
    margin-right: 0px;
    width: 30rem;
    height: 3rem;
    position: relative;
    bottom: 5.5px;;
    background-color: white;
    border-style: none;
}

.btn{
    font-size: 2rem;
    background-color: red;
    border-style: none;
    margin: -5px;
    position: relative;
    width: 15rem;
    height: 3.6rem;

}

.text-kids-section{
    margin-top: 4.5rem;
    padding-top: 2rem;
}

.kids-middle-section img{
    width: 450px;
    padding: 50px 5%;
}

.nav-bar{
    display: flex;
    padding-top: 20px;
}

.tv-middle-section{
    display: flex;
}

.tv{
    position: relative;
    left: 250px;
    top: 100px;
}

.tv img{
    position: relative;
    bottom: 280px;
    right: 65px;
}

.mobile-middle-section{
    display: flex;
}

.text-mobile-section{
    font-size: 20px;
    font-weight: normal;
    position: relative;
    right: 200px;
    top: 100px;  
}

.text-mobile-section h2{
    font-size: 1.625rem;
    font-weight: 400;
}

.kids-middle-section{
    display: flex;
}

.faq-1-h1{
    font-size: 3.125rem;
    text-align:center;
    font-family: sans-serif;

}

.home-sign-in{
    text-align: center;
}

ul{
    list-style-type: none;
    text-align: center;
}

.faq-1{
    color: white;
    margin-left: 340px;
    margin-top: 40px;
}

.faq-1-what{
    background-color: #303030;
    height: 45px;
    width: 700px;
    font-size: 25px;
    padding-top: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    cursor:grabbing;
}

.faq-1-what p{
    position: relative;
    bottom: 1.5rem;
}

.sign-in-page{
    background-image: url(../Netflix/netflix\ main\ page.jpg);
    height: 175vh;
}

.sign-in-icon{
    width: 180px;
    height: 100px;
    margin-left: 25px;
}

.sign-in-form{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    width: 340px;
    height: 620px;
    margin-left: 500px;
    font-size: 16px;
    padding: 60px 68px 40px;
    border-radius: 4px;
    direction: ltr;
    display: flex;
    flex-direction: column;
}

.sign-in-email{
    background-color: #303030;
    color: #8c8c8c;
    border-style: none;
    width: 20pc;
    height: 3pc;
    border-radius: 6px;
}

.sign-in-page-btn{
    background-color: red;
    color: white;
    height: 3pc;
    border-style: none;
    width: 20pc;
    border-radius: 6px;
    font-size: large;
}

.sign-in-text{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #8c8c8c;
}

.sign-in-text p{
    position: relative;
    right: 70px;
    bottom: 10px;
}

.sign-in-text a{
    position: relative;
    left: 50px;
}

.new{
    direction: ltr;
    text-align: left;
}

.sign-in-footer{
    background-color: rgba(0, 0, 0, 0.75);
    margin-top: 100px;
    height: 170px;
    color: #8c8c8c;
}
.footer-link a{
    color: #8c8c8c;
    text-decoration: none;
}

.footer-1{
    display: flex;
    justify-content: space-around;
}

.footer-2{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: 230px;
}

.footer-link{
    padding-top: 50px;
    margin-left: 5rem;
}

.home-footer{
    margin-left: 5rem;
    padding-left: 2rem;
    margin-top: 100px;
    font-size: 14px;
}

.footer-3{
    display: flex;
    justify-content: space-around;
}

.footer-4{
    display: flex;
    justify-content: space-around;
    position: relative;
    right: 150px;
}

.footer-link-home .footer-2{
    display: flex;
    justify-content: space-evenly;
    margin-left: 7.2rem;
}

.footer-link-home{
    padding-top: 50px;
    margin-left: 5rem;
}

.footer-link-home a{
    color: #8c8c8c;
    text-decoration: none;
}

.footer-link-home .footer-1{
    position: relative;
    right: 88px;
}

.footer-link-home .footer-3{
    position: relative;
    right: 75px;
}

.mobile-pic-section{
    border: 2px solid #222;
    display: flex;
    justify-content: space-around;
    height: 80px;
    width: 550px;
    padding-top: 10px;
    border-radius: 12px;
    background-color: black;
    position: relative;
    right: 420px;
    top: 250px;
}

.mobile-pic-section p{
    position: relative;
    top: 8px;
    right: 23px;
}

.mobile-pic-section p span{
    color: #0071eb;
}

.download{
    position: relative;
    top: 20px;
}

.text-tv-middle-section{
    position: relative;
    top: 80px;
    left: 90px;
}
.text-tv-middle-section h1{
    font-size: 3.125rem;
}
/* .text-tv-middle-section h2 */